$bg-dark : rgb(30,30,30);
$bg-mid : rgb(200,200,200);
$bg-light : rgb(230,230,230);

$primary-light: #86E1E9;
$primary: #37CDDA;
$primary-dark: #23B1BE;
$secondary: #FFC400;

$text-light-high : rgba(250,250,250,0.85);
$text-light-mid : rgba(250,250,250,0.7);
$text-light-low : rgba(250,250,250,0.4);

$text-dark-high : rgba(0,0,0,0.85);
$text-dark-mid : rgba(0,0,0,0.7);
$text-dark-low : rgba(0,0,0,0.4);

$spacing : 8px;