.about {
  z-index: 2;
  background: $bg-dark;
  width: 100%;
  display: flex;
  overflow: hidden;
  
  .wrapper {
    display: grid;
    align-items: center;
    justify-content: center;

    h2 {
      color: $text-light-high;
    }
    p {
      color: $text-light-mid;
    }
  }
}