.about {
  z-index: 3;
  background: $bg-dark;
  width: 100%;
  
  h2 {
    color: $text-light-high;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing*4;
    padding-bottom: 70px;
    justify-content: center;
    align-items: start;

    p {
      color: $text-light-mid;
    }
  }
}

@media (max-width: 740px) {
  .about .wrapper {
    grid-template-columns: auto;
    
    p{
      text-align: center;
    }
  
  }
}