* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  background-color: #1e1e1e;
}

section {
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

main {
  min-height: 200vh;
  background-color: #1e1e1e;
}

a {
  color: inherit;
}

* {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 4rem;
  color: rgba(250, 250, 250, 0.85);
  text-transform: lowercase;
}

h1 span {
  color: #37CDDA;
}

h2 {
  font-size: 3rem;
  padding: 70px;
  text-align: center;
  text-transform: lowercase;
}

p {
  color: rgba(250, 250, 250, 0.7);
  font-size: 1.5rem;
  margin-bottom: 1em 0;
}

span {
  color: rgba(250, 250, 250, 0.4);
}

strong {
  color: #37CDDA;
}

@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
  h2 {
    font-size: calc(1.425rem + 2.1vw);
  }
  p {
    font-size: calc(0.75rem + 1vw);
  }
}

.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(250, 250, 250, 0.85);
}

.nav-scrolled {
  color: #000000;
  background: #f4f4f4;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.nav-initials::before {
  position: absolute;
  content: "";
  background-color: #1e1e1e;
  border-radius: 50%;
  height: 60px;
  top: 6px;
  left: 19px;
  width: 60px;
  -webkit-box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
          box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
}

.nav-initials span {
  position: absolute;
  text-transform: lowercase;
  left: 24px;
  top: 8px;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 4;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(250, 250, 250, 0.85);
  padding: 8px;
}

.nav-initials span::after {
  content: '';
  border-top: 0.15em solid #37CDDA;
  position: absolute;
  margin: 0 auto;
  width: 0;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transition: width 0.3s cubic-bezier(0.68, 0, 0.33, 1) 0.1s, border-color 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: width 0.3s cubic-bezier(0.68, 0, 0.33, 1) 0.1s, border-color 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav-initials span:hover::after {
  width: 100%;
}

.nav-menu {
  color: inherit;
  height: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu::before {
  position: absolute;
  content: "";
  background-color: #1e1e1e;
  border-radius: 30px;
  height: 60px;
  width: 370px;
  top: 6px;
  right: 8px;
  -webkit-box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
          box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
  transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
}

.nav-links {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  color: inherit;
  position: relative;
  font-size: 1.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-link a {
  text-transform: lowercase;
  color: inherit;
  padding: 8px;
}

.nav-link a::after {
  content: '';
  border-top: 0.15em solid #37CDDA;
  position: absolute;
  margin: 0 auto;
  width: 0;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transition: width 0.3s cubic-bezier(0.68, 0, 0.33, 1) 0.1s, border-color 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: width 0.3s cubic-bezier(0.68, 0, 0.33, 1) 0.1s, border-color 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav-link a:hover::after {
  width: 100%;
}

.social-links {
  display: none;
}

/*=======================================
  Media Queries             
  =======================================*/
@media screen and (max-width: 768px) {
  .nav {
    color: rgba(0, 0, 0, 0.85);
  }
  .burger {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    padding: 20px;
    right: 16px;
    top: 0;
  }
  .burger::before {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    top: 6px;
    left: 8px;
    -webkit-box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
            box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
    transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
  }
  .burger-line {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    margin: 6px;
    background: rgba(0, 0, 0, 0.85);
  }
  .nav-menu {
    position: absolute;
    height: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5vh;
    -ms-grid-rows: 10vh auto 20vw;
        grid-template-rows: 10vh auto 20vw;
    top: 10vh;
    left: 0;
    z-index: 3;
    -webkit-transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
    transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
  }
  .nav-menu::before {
    content: unset;
  }
  .nav-links {
    opacity: 0;
    height: 60%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
    transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
  }
  .nav-link a {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
  }
  .social-links {
    width: 60%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
    transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
  }
  .social-links a {
    color: rgba(0, 0, 0, 0.85);
  }
  .social-links a:hover, .social-links a:active, .social-links a:focus {
    color: #37CDDA;
  }
  .nav.open .nav-initials span, .nav.open .nav-link a {
    color: rgba(0, 0, 0, 0.85);
  }
  .nav.open .nav-menu {
    height: 90vh;
  }
  .nav.open .nav-menu .nav-links, .nav.open .nav-menu .social-links {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav.open .burger::before {
    -webkit-transform: scale(40);
            transform: scale(40);
  }
}

.arrow {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid rgba(250, 250, 250, 0.85);
  border-right: 3px solid rgba(250, 250, 250, 0.85);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -20px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.carousel {
  position: relative;
  height: 73%;
  width: 80%;
  margin: 0 auto;
}

.carousel__track {
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__image {
  width: 100%;
  height: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 10px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(255, 255, 255, 0.75);
}

.is-hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: auto;
  z-index: 99;
  background: #1e1e1e;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.modal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal__close {
  border: none;
  background: transparent;
  color: rgba(250, 250, 250, 0.85);
  font-size: 3rem;
  padding: 4px;
}

.modal__project {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 32px;
  max-width: 1200px;
  margin: auto;
}

.modal__title {
  color: rgba(250, 250, 250, 0.85);
  padding: 0;
}

.modal__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow: auto;
}

.modal__images .modal__image {
  margin: 0 16px;
  border-radius: 30px;
  border: 2px solid rgba(250, 250, 250, 0.85);
  height: 400px;
}

.modal__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.modal__links .modal__link {
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: 2px solid #37CDDA;
  color: rgba(250, 250, 250, 0.85);
  width: 140px;
  border-radius: 10px;
}

.modal__stack-list {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__stack-list li {
  color: #37CDDA;
  font-weight: 600;
  margin-right: 8px;
}

.modal__description {
  padding: 0 16px;
}

.modal__description p {
  color: rgba(250, 250, 250, 0.7);
  font-size: 1rem;
  margin-bottom: 16px;
}

.modal__skill-list {
  padding: 0 16px;
}

.modal__skill-list li {
  list-style-type: disc;
  padding: 4px 0;
  color: rgba(250, 250, 250, 0.7);
  list-style-position: inside;
}

.about {
  z-index: 3;
  background: #1e1e1e;
  width: 100%;
}

.about h2 {
  color: rgba(250, 250, 250, 0.85);
}

.about .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding-bottom: 86px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about .wrapper p {
  color: rgba(250, 250, 250, 0.7);
}

@media (max-width: 740px) {
  .about .wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .about .wrapper p {
    text-align: center;
  }
}

.bio {
  z-index: 2;
  background: url("../images/grey-bg.png");
  padding: 70px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.bio .wrapper {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio img {
  height: 300px;
  border-radius: 30px;
  border: 2px solid #1e1e1e;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.bio p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 740px) {
  .bio .wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .bio .wrapper p {
    text-align: center;
  }
}

.contact {
  position: relative;
  background: url("../images/grey-bg.png");
  z-index: 5;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content auto min-content;
      grid-template-rows: -webkit-min-content auto -webkit-min-content;
      grid-template-rows: min-content auto min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  color: rgba(0, 0, 0, 0.85);
}

.contact .contact-grid {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.contact .contact-grid .fa-icon {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
}

.contact .contact-grid .fa-icon:hover, .contact .contact-grid .fa-icon:active, .contact .contact-grid .fa-icon:focus {
  color: #37CDDA;
}

.contact .contact-grid p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
}

.contact footer {
  padding: 32px;
}

.contact footer span {
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .contact .contact-grid .fa-icon {
    font-size: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .fa-icon {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .fa-icon {
    font-size: 5rem;
  }
}

.experience {
  z-index: 4;
  background: url("../images/grey-bg.png");
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.experience .wrapper {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 86px;
}

.experience h2 {
  color: rgba(0, 0, 0, 0.85);
}

.experience p {
  color: rgba(0, 0, 0, 0.7);
}

.experience .dev__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience .dev__item {
  font-size: 2rem;
  margin: 0.1em;
  color: rgba(0, 0, 0, 0.7);
}

.experience .dev__item:hover, .experience .dev__item:active, .experience .dev__item:focus {
  color: #37CDDA;
}

.experience hr {
  margin-bottom: 16px;
}

.experience .career {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.experience .employer {
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
}

.experience .employer .employer-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience .employer .employer-header h4 {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.7);
}

.experience .employer .employer-header span {
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

.experience .employer .employer-header img {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 5px;
}

.experience .employer p {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 740px) {
  .experience .wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .experience .wrapper > p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .experience .career {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .dev__list .dev__item {
    font-size: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .experience .career {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .dev__list .dev__item {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .experience .career {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .dev__list .dev__item {
    font-size: 5rem;
  }
}

.home {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 0;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0;
}

.work {
  z-index: 3;
  background: #1e1e1e;
  width: 100%;
}

.work h2 {
  color: rgba(250, 250, 250, 0.85);
}

.work .wrapper {
  padding: 0 16px 86px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.project {
  position: relative;
  width: 300px;
}

.project .fa-icon {
  font-size: 2rem;
}

.project h3 {
  text-align: left;
}

.project__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  color: rgba(250, 250, 250, 0.7);
  text-align: center;
}

.project__title fa-icon {
  font-size: 1.5rem;
}

.project__image {
  border-radius: 30px;
  border: 2px solid rgba(250, 250, 250, 0.7);
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  height: 400px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__stack-list {
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project__stack-list li {
  color: rgba(250, 250, 250, 0.4);
  text-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  list-style: disc;
  list-style-position: inside;
}

.project__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__details p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

.project__details .fa-icon {
  font-size: 2rem;
}

.project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
