* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  background-color: #1e1e1e;
}

section {
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

main {
  min-height: 200vh;
  background-color: #1e1e1e;
}

a {
  color: inherit;
}

* {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 4rem;
  color: rgba(250, 250, 250, 0.85);
}
h1 span {
  color: #37CDDA;
}

h2 {
  font-size: 3rem;
  margin: 70px;
  text-align: center;
}

p {
  color: rgba(250, 250, 250, 0.7);
  font-size: 1.5rem;
  margin-bottom: 1em 0;
}

span {
  color: rgba(250, 250, 250, 0.4);
}

strong {
  color: #37CDDA;
}

@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }

  h2 {
    font-size: calc(1.425rem + 2.1vw);
  }

  p {
    font-size: calc(0.75rem + 1vw);
  }
}
.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 32px;
  display: flex;
  align-items: center;
  color: rgba(250, 250, 250, 0.85);
}

.nav-scrolled {
  color: #000000;
  background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.nav-initials span {
  position: absolute;
  left: 32px;
  top: 16px;
  z-index: 4;
  font-size: 2rem;
  font-weight: 600;
  color: inherit;
}

.nav-initials::before {
  position: absolute;
  content: "";
  background-color: #1e1e1e;
  border-radius: 50%;
  height: 60px;
  top: 6px;
  left: 19px;
  width: 60px;
  box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
}

.nav-menu {
  color: inherit;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu::before {
  position: absolute;
  content: "";
  background-color: #1e1e1e;
  border-radius: 30px;
  height: 60px;
  width: 370px;
  top: 6px;
  right: 8px;
  box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
  transform: scale(1);
}

.nav-links {
  color: inherit;
  display: flex;
}

.nav-link {
  color: inherit;
  position: relative;
  font-size: 1.2em;
  width: fit-content;
}
.nav-link a {
  color: inherit;
  padding: 8px;
}
.nav-link a::after {
  content: "";
  border-top: 0.15em solid #37CDDA;
  position: absolute;
  margin: 0 auto;
  width: 0;
  left: 0;
  right: 0;
  top: 50%;
}
.nav-link a:hover::after {
  width: 100%;
}

.social-links {
  display: none;
}

.social-link a {
  color: inherit;
}

/*=======================================
Media Queries             
=======================================*/
@media screen and (max-width: 768px) {
  .burger {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    padding: 20px;
    right: 16px;
    top: 0;
  }
  .burger::before {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    top: 6px;
    left: 8px;
    box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
    transform: scale(1);
  }

  .burger-line {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    margin: 6px;
    background: rgba(0, 0, 0, 0.85);
  }

  .nav-menu {
    position: absolute;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    grid-template-rows: 10vh auto 20vw;
    top: 10vh;
    left: 0;
    z-index: 3;
  }
  .nav-menu::before {
    content: unset;
  }

  .nav-links {
    opacity: 0;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    transform: scale(0);
  }

  .nav-link a {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
  }

  .social-links {
    opacity: 0;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 1.5em;
    transform: scale(0);
  }

  .nav.open .nav-initials span, .nav.open .nav-link a {
    color: rgba(0, 0, 0, 0.85);
  }
  .nav.open .nav-menu {
    height: 90vh;
  }
  .nav.open .nav-menu .nav-links, .nav.open .nav-menu .social-links {
    opacity: 1;
    transform: scale(1);
  }
  .nav.open .burger::before {
    transform: scale(40);
  }
}
.arrow {
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid rgba(250, 250, 250, 0.85);
  border-right: 3px solid rgba(250, 250, 250, 0.85);
  transform: rotate(45deg);
  margin: -20px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.about {
  z-index: 2;
  background: #1e1e1e;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.about .wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}
.about .wrapper h2 {
  color: rgba(250, 250, 250, 0.85);
}
.about .wrapper p {
  color: rgba(250, 250, 250, 0.7);
}

.bio {
  z-index: 2;
  background: url("/src/assets/images/grey-bg.png");
  padding: 70px 0;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.bio .wrapper {
  display: grid;
  gap: 32px;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
}
.bio img {
  height: 300px;
  border-radius: 30px;
  border: 2px solid #1e1e1e;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.bio p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 740px) {
  .bio .wrapper {
    grid-template-columns: auto;
  }
  .bio .wrapper p {
    text-align: center;
  }
}
.contact {
  position: relative;
  background: url("/src/assets/images/grey-bg.png");
  z-index: 5;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
  align-items: center;
}
.contact h2 {
  color: rgba(0, 0, 0, 0.85);
}
.contact .contact-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.contact .contact-grid .fa-icon {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
}
.contact .contact-grid .fa-icon:hover, .contact .contact-grid .fa-icon:active, .contact .contact-grid .fa-icon:focus {
  color: #37CDDA;
}
.contact .contact-grid p {
  color: rgba(0, 0, 0, 0.85);
}
.contact footer {
  padding: 32px;
}
.contact footer span {
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .contact .contact-grid .fa-icon {
    font-size: 3rem;
  }
}
@media screen and (min-width: 900px) {
  .fa-icon {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .fa-icon {
    font-size: 5rem;
  }
}
.experience {
  z-index: 4;
  background: url("/src/assets/images/grey-bg.png");
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.experience .wrapper {
  display: grid;
  gap: 32px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.experience h2 {
  color: rgba(0, 0, 0, 0.85);
}
.experience p {
  color: rgba(0, 0, 0, 0.7);
}
.experience .dev__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}
.experience .dev__item {
  font-size: 2rem;
  margin: 0.1em;
  color: rgba(0, 0, 0, 0.7);
}
.experience .dev__item:hover, .experience .dev__item:active, .experience .dev__item:focus {
  color: #37CDDA;
}
.experience hr {
  background: #37CDDA;
}
.experience .career {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
.experience .employer {
  height: 100%;
  display: grid;
  gap: 16px;
  align-items: start;
  grid-template-rows: 50px auto;
}
.experience .employer .employer-header {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 16px;
  align-items: center;
}
.experience .employer .employer-header h4 {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.7);
}
.experience .employer .employer-header span {
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}
.experience .employer .employer-header img {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 5px;
}
.experience .employer p {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 600px) {
  .experience .career {
    grid-template-columns: repeat(2, 1fr);
  }

  .dev__list .dev__item {
    font-size: 3rem;
  }
}
@media screen and (min-width: 900px) {
  .experience .career {
    grid-template-columns: repeat(3, 1fr);
  }

  .dev__list .dev__item {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .experience .career {
    grid-template-columns: repeat(4, 1fr);
  }

  .dev__list .dev__item {
    font-size: 5rem;
  }
}
.home {
  position: sticky;
  top: 0;
  z-index: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 64px 0;
}

.work {
  z-index: 3;
  background: #1e1e1e;
  height: 100vh;
  width: 100%;
}
.work h2 {
  color: rgba(250, 250, 250, 0.85);
}